{% extends "base.html" %}

{% block content %}
    <div class="item item-first item-last">
        <div class="text about_title">
            <a href="/about/"><h3><span>&bull;</span> Обо мне (О центре) <span>&bull;</span></h3></a>
        </div>
        <div class="img-left left">
            <img src="/static/img/about.png" alt="Обо мне (О центре)">
        </div>
        <div class="left" style="float: left">
            <p style="width: 430px">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
        </div>

        <div class="text about_title" style="clear: both">
            <a href="#"><h3><span>&bull;</span> Образование <span>&bull;</span></h3></a>
        </div>
        <div class="left" style="clear: both">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
        </div>

        <div class="text about_title" style="clear: both">
            <a href="#"><h3><span>&bull;</span> Сотрудничество <span>&bull;</span></h3></a>
        </div>
        <div class="left" style="clear: both">
            <p>Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
        </div>

    </div>

    <div class="points clear">
        <img src="/static/img/points-down.png" alt="points">
    </div>
{% endblock %}