{% extends "base.html" %}

{% block hader %}
<title>Обо мне (О центре) | Daoist Consulting Center</title>
<meta name="keywords" content="Обо мне, О центре">
<meta name="description" content="Обо мне, О центре">
{% endblock %}

{% block content %}
    <div class="item item-first item-last">
        <div class="text about_title">
            <a href="/about/"><h3><span>&bull;</span> Обо мне (О центре) <span>&bull;</span></h3></a>
        </div>
        <div class="img-left left">
            <img src="/static/img/about.png" alt="Обо мне (О центре)">
        </div>
        <div class="left" style="float: left">
            <p style="width: 430px">{{ settings.about }}.</p>
        </div>

        <div class="text about_title" style="clear: both">
            <a href="#"><h3><span>&bull;</span> Образование <span>&bull;</span></h3></a>
        </div>
        <div class="left" style="clear: both">
            <p>{{ settings.education }}</p>
        </div>

        <div class="text about_title" style="clear: both">
            <a href="#"><h3><span>&bull;</span> Сотрудничество <span>&bull;</span></h3></a>
        </div>
        <div class="left" style="clear: both">
            <p>{{ settings.cooperation }}</p>
        </div>

    </div>

    <a href="/reviews/" class="footer_reviews"></a>
{% endblock %}