{% extends "base.html" %}

{% block hader %}
<title>{{ category }} | Daoist Consulting Center</title>
<meta name="keywords" content="{{ category }}">
<meta name="description" content="{{ category }}">
{% endblock %}

{% block content %}
    <div class="item item-first item-last">
        <div class="text">
            <a href="/blog/{{ page.url }}/"><h3><span>&bull;</span> {{ page.title }} <span>&bull;</span></h3></a>
        </div>
        {% if page.image %}
        <div class="img-left left">
            <img src="/{{ page.image }}" alt="{{ page.title }}">
        </div>
        {% endif %}
        <div class="left">
            <span>{{ page.text|safe }}</span>
        </div>
    </div>

    <div class="points clear">
        <img src="/static/img/points-down.png" alt="points">
    </div>
{% endblock %}