{% extends "base.html" %}

{% block hader %}
<title>Отзыв отправлен | Daoist Consulting Center</title>
<meta name="keywords" content="">
<meta name="description" content="">
{% endblock %}

{% block content %}
    <div class="counseling">
        <div class="top_line">
            <div class="title">
                <span>&bull;</span>
                <h1><a href="/reviews/">Отзывы</a></h1>
                <span>&bull;</span>
                <div style="clear: both"></div>
            </div>

            <div class="help_left_link">
                <span>&bull;</span>
                <a href="/reviews/create/">Оставить отзыв</a>
                <span>&bull;</span>
                <div style="clear: both"></div>
            </div>
        </div>

        <div class="content_form">
            <p>Спасибо! Ваш отзыв отправлен и будет выложен на сайтев ближайшее время.</p>
        </div>

    </div>
{% endblock %}