{% extends "base.html" %}

{% block hader %}
<title>{{ consultation.title }} | Daoist Consulting Center</title>
<meta name="keywords" content="{{ consultation.keyword }}">
<meta name="description" content="{{ consultation.description }}">
{% endblock %}

{% block content %}
    <div class="counseling">
        <div class="top_line">
            <div class="title">
                <span>&bull;</span>
                <h1><a href="/consultations/">Консультирование</a></h1>
                <span>&bull;</span>
                <div style="clear: both"></div>
            </div>

            <div class="help_left_link">
                <span>&bull;</span>
                <a href="/consultations/ask/">Задать вопрос</a>
                <span>&bull;</span>
                <div style="clear: both"></div>
            </div>
        </div>

        <div class="counseling_article">
            <img class="preview" src="/{{ consultation.image }}" alt="{{ consultation.title }}"/>
            <div class="counseling_text">
                <p style="font-weight: bold; font-size: 18px; margin-bottom: 15px">{{ consultation.title }}</p>
                <p>{{ consultation.text|safe }}</p>
            </div>
            <div class="clear"></div>
        </div>

        <a href="/reviews/" class="footer_reviews"></a>

    </div>
{% endblock %}